// Variables

$primary: #ffffff;
$font-stack: "Roboto","Helvetica Neue",Helvetica,Arial,sans-serif;
$font-stack-2: "Helvetica Neue",Helvetica,Arial,sans-serif;
$anim-duration: 1.5s;
$expo-ish: cubic-bezier(.75,0,.25,1);
